env:
  global:
  - VERSION=1.2.2
  - SHORT_COMMIT_SHA=$(git rev-parse --short HEAD)
  - RELEASE_VERSION=$VERSION+build.$TRAVIS_BUILD_NUMBER.sha.$SHORT_COMMIT_SHA
  - secure: FQU39qHnx9XMeB/DMN6AMBD18ReFfKdPyP6o/p3b7PA3Yr0JuvDb2y9YZmv7XFI1I6o/fEObHrq66sNXwQzBFmtj1RZMYbU9Me8BsqoxggHxK9jFsp7ycHn0KjCVGKqJLQ3GmyaaA9GDbYDq3hv3RkeCDzHYJ0UoiVYBX8SXtZaXvJv6geTbbY8SAKgLnr9J3+YXTLhN3hgCdBkLyWJpKyWtrgdFDr6q4OHpU5zN+NmzO5UBHO44A4Q0jcs15kwvgpk7miiwyOuXA7l7kcVQLukh19q3eVrMxBLpm8tH2aHgFQIvg9rIEF/1+jB337OTqFcwWrxZFq5Ryiu0QK3UDypP92zaqEsKzYcubs9GHoTMPmpxGGxOZMJ02iW5jB9BhicrhUuozGfUndmk+eSkjjUAtFISMDHIQlAapyck0uz+k+km00MdA9p1lHOLruCSrDrYj/8ncltprq2BjzASRY9N365XuYGgkP/j9Df/UXETXsEfGHvoAidu2Vo1CYtfp0LFL5XK+oXfXvk6ZS8/WV0LPume+wlm/pL4eT53rpNsu8N8LUJJXOPmqe9EvYQM8OoEmfJzuU9sDDZ2DOU9Kbu2rnPIj2dnmj5zEanEebVYGzxdlg6sIst3O+grlhZdLN5LhqN1S/xZjwOTC0V0DLE89K74X97vl39DV43oOPI=
  - secure: gSbQv+8w/FHn3bGmCyLT+U6iFqyL9h5DnwgWfI6P5tWG4O0nskFc6nFLs65fmedgZkOuu6rFtZai6/4T1sBilSAItBcJwyBXT7Ktv8cQFPvpqMmvuofns9taTka9zoI4O69RqA8sBxUpv2WPEwYVyJOjGOIL4SZNLn4RquEeRGwIbBVJ8Ac+jkiouiucvX6CE0BNTRj7PWYag1HfbuiccmK6bdocP0seRpUaZx+vxxFgUYq4kvSJokJ4lGhMJdSdpdir75CV7OEMYy275xB2+AOliDGQn2XnyVr6S/eypFZoGIhB4ezzLKVg3evqV6UJ/7dKFSLulwsaaROb3JbX2fQ2E0ogdVNY1x4pNK/l+J5IDGVvxL6qK+Rs3K6vo11O/LjOPcD2TIrSEmJ95t63V5hTt5IzzUSEIlEiTQpzYN4I7Bu/FwkHdUGVOcotkHm0eTdbqGaRKk0GaiOTuISDOqolyffusE9V3yusOU1pwueSBcCMKLInM4k1j7j0TnF3dMFIqXOCCNxNIcnGTpqpwsb9V1GXvj/JbFva7wSC1dOo9QrP2OfxHQPVFPEn0sqBwoFJLJ7B3cPX1ZiZZMs5g/AMA2kadDHdGdAfF+0GIVIlaPY2JaZrR6MDo51xVDZqtk7Qr/B7BpKjK0LqtJ3G4t21E4AfUwJTw33wpmphxOg=
  - secure: lQzB9HTKL8N1GRnFqM2ig0JORwLRZnii2Ze9K8TQUF/Jgan8u/eDjRj/BQvtZuGf+Udwhs9PPWfIkjMTslnqNIxpfngOBB9/Aqs4+AvJS3DQEjETgxxiye+FK/rCT8A73gb8yLOzGwuHN4htSrOzuy3tckROX38zgRzEYMF2bsBAWyu5PJBcdAj9NzBO7AZH603lJhyiTc2WrXPMOcK14hbtBqWziF5c6PKOXmqMUiPA/+X7koTiu97KJC9T3qsERgaz3UFXzsz7RCfJ99M09DabdXx1EGUC/VBNPftBBEIFqhlAup4cWMIzyYMtfTgG1g+pk6WkAfJ3lySrRlaiE2muiCCAYn7a+XIwE/xYm8B0HxsnhYBHxAX51W5JPwFzrLbJ+QKOO0f0M3/jwDdaRuHxlntfAy6YtCl6XiV2okGJ/sQQtxpdAuAMGOqezW1fCGEP07TBFaWnmwtx7ZDkROgyzKYpKL2Sh68rVaLW892M/NlolKQZKopWvHEiI2k9QZigiadn+GNY6sUHaANHNl+rbTAVHRh1fnJj8cQzpjYLBGdSqnl3y0h1CB2NKOnEyoJLWFdaW4lGF6+tDpD6pzn8URoUMAW53NAD7FxhKq1Q0OmuGqv6DpD7BKzL/gDFp5kuGIeIstBlj9F7AYDUMpqsxYF4IDEHNfIeCFqKv8U=
language: java
jdk:
- oraclejdk8
before_install:
- sed -i.bak -e 's|https://nexus.codehaus.org/snapshots/|https://oss.sonatype.org/content/repositories/codehaus-snapshots/|g' ~/.m2/settings.xml
- mvn versions:set -DnewVersion=$RELEASE_VERSION
install:
- mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V -U
script: 
- mvn package -DfinalName=octopus-build-trigger-$RELEASE_VERSION -DfinalVersion=$RELEASE_VERSION
branches:
  except:
  - /^[0-9]*\.[0-9]*\.[0-9]\+build.[0-9]*$/
before_deploy:
- git config --global user.email "builds@travis-ci.com"
- git config --global user.name "Travis CI"
- export GIT_TAG=$VERSION+build.$TRAVIS_BUILD_NUMBER
- git tag $GIT_TAG -a -m "Generated tag from TravisCI for build $TRAVIS_BUILD_NUMBER"
- git push -q https://$GIT_TAG_USER:$GIT_TAG_AUTH_TOKEN@github.com/matt-richardson/teamcity-octopus-build-trigger-plugin.git --tags
- ls -alR
deploy:
  provider: releases
  api_key:
    secure: OkS1oQ39WbXQMRDmKkC3VB4rWzyJdpmXRMMnGIpPc3CSvVS8WFroVs9mYXOqvD/y33bnzTY2p84roYLrYkr6C1G0v5gS7SfQVfhmV2/DiooBpaSB414VfBLftmRiVNs8M9nwXjLp7F84TOE9weJgbiu//J91FrKe0z5XH3ETFX5QbnkoTA38XHfVwaWeylERy+O7sKOcPbD6Jcxs4BrWHcQin6F3TivzuQNFNWjRr2KT49sJXJbBPwbqrlXPoW9UUIo07aMV+2SInkv7dTnpBvIYV836w9edIDcarmMlc1MRt/6T+/r1yZHpuREdr/gfaykI94N6DbQZU1DProq3nYEpdGeB5haP36V1HxXtURCbICrjWCymdmmX/m1wDodpDHUtdNSNlGBZU0LKmAz0k7Pq988ZrkB4Kv/Fp2HJGnBjNZnfBVAxR1hpme+zP6SCO3IXFZ6fXLCFqlMYBnlb4gWctTycZpQ23T9fyQHo28QHucCs4b2yiCYvtUaigBUj+LYNSUMYlGmZIFc8UiWNHHG8U1s098KGOHjObm1WAYLlOsdZBAEz5rjgKrICDyRRo5kE1G0OOqLf0OEX1CVJtCPi06s4KUooWKYGTExcd8nj3XGfa8LV6GV0XwvdChH1MnUEzUuUJFFQWxjF0VlIDQL+fahhXbazkcL+2oWknOg=
  file: target/octopus-build-trigger.zip
  skip_cleanup: true
  on:
    branch: master
    tags: false
    repo: matt-richardson/teamcity-octopus-build-trigger-plugin
notifications:
  slack:
    secure: Gd51JLw/cvEUssy+47szhRNRg2midBu4zsSLlspqAjDZWU7RZaebJ87ytThXGP245sBDH/VuyBnKcGARPj/+kzvQd4hHOGOduVdDP5PYq4PvV8HdRy0IgyDreQZOoQkjuJIcl7rNWjj2svh1dug8bfcDuGKkG7Kbd+9JxanYZoQpr5vrps7PZpmueqBlPTm+dDoEfDXXzM3GwLg8rVVZIUMkKk8WmSXh3pMK2o0VxfruE8opwi/DD4n8u03CSOPsjJMTEw7IngTaqoW1OursiQOViz6T5oi6OjGqUrXVb781c3W9pf2wMUbqENdQpsVTlEvefJEE94t4V9h9a7pDs0huIhalg75YwWR8ipILA8M6RZJIpxxJaImU0Mn+K5l7k6lS7mlmTBdquBHzJXpvw42TlxzFYqmj9ch8EU7i7zXzJZeONyLEVYU4Yhnb0i/qMnqTr3B07goUDdV65sGgAZ6nyEvEcZbzycOz9rcYx0zmh7LZQ3dDA1pTyB5BNUFWh+k8siHjFfwWToL4JMn1eCmfE3TYcd17XmeyOtricFEMUJoBuH8JfFzC6DCYGKy0QfMHZHn9an7u2lY1+wknvxcsyqHJ83vX62oWOAA6xVmz0V2ykD7drsWwn8bNBnBpsJZft/88sGd+5k1shp+s3IpbvYB5A1TN8Srvodq+DaM=
