<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestAll">
 
    <test name="anyname">
	<classes>
		<class name="matt_richardson.teamCity.buildTriggers.octopusDeploy.DeploymentsTest" />
		<class name="matt_richardson.teamCity.buildTriggers.octopusDeploy.DeploymentTest" />
		<class name="matt_richardson.teamCity.buildTriggers.octopusDeploy.OctopusDeploymentsProviderTest" />
	</classes>
    </test>
  
</suite>