<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestAll">
 
    <test name="anyname">
	<classes>
		<class name="com.mjrichardson.teamCity.buildTriggers.DeploymentComplete.DeploymentsTest" />
		<class name="com.mjrichardson.teamCity.buildTriggers.DeploymentComplete.DeploymentTest" />
		<class name="com.mjrichardson.teamCity.buildTriggers.DeploymentComplete.DeploymentsProviderTest" />
	</classes>
    </test>
  
</suite>
